* {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(253, 253, 253);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.calculator {
  display: flex;
  flex-direction: column;
  width: 420px;
  justify-content: center;
  align-items: center;
  background-color: #5d5d5d;
  border-radius: 10px;
  padding: 20px;
}
.output {
  text-align: end;
  height: 2em;
  width: 400px;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #4a4a4a;
  border-radius: 5px;
  margin-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #888 #4a4a4a;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  width: 400px;
  padding: 10px;
}

.button {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(137, 137, 137);
  border: 1px solid rgb(137, 137, 137);

  cursor: pointer;
}
.operation {
  background-color: orange;
  border: 1px solid orange;
}
.special {
  background-color: #717171;
  border: 1px solid #717171;
}

#zero {
  grid-column: span 2;
}

.button:hover {
  background-color: #9c9c9c;
}

.operation:hover {
  background-color: rgb(255, 171, 16);
}
